interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.binance.com/api/v3/ticker/bookTicker?symbol=BTCUSDT
  response:
    content: '{"symbol":"BTCUSDT","bidPrice":"35080.82000000","bidQty":"0.33905800","askPrice":"35080.83000000","askQty":"0.32518700"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
      x-mbx-used-weight:
      - '6'
      x-mbx-used-weight-1m:
      - '6'
      x-mbx-uuid:
      - 93390842-c0ef-47c8-b670-413ebcda6a74
    status_code: 200
version: 1
