interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.binance.com/api/v3/trades?symbol=BTCUSDT
  response:
    content: '[{"id":584328998,"price":"35090.00000000","qty":"0.33344300","quoteQty":"11700.51487000","time":1611151409079,"isBuyerMaker":true,"isBestMatch":true},{"id":584328999,"price":"35090.00000000","qty":"0.00037400","quoteQty":"13.12366000","time":1611151409088,"isBuyerMaker":true,"isBestMatch":true},{"id":584329000,"price":"35090.00000000","qty":"0.05000000","quoteQty":"1754.50000000","time":1611151409108,"isBuyerMaker":true,"isBestMatch":true},{"id":584329001,"price":"35090.00000000","qty":"0.00787000","quoteQty":"276.15830000","time":1611151409165,"isBuyerMaker":true,"isBestMatch":true},{"id":584329002,"price":"35090.00000000","qty":"0.029[...]
