[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
crypto-dom = {editable = true, path = "."}
pytest = "*"
pytest-asyncio = "*"
pytest-recording = "*"
python-dotenv = "*"

[packages]
aiohttp = "*"
httpx = "*"
pydantic = "*"
returns = "*"
stackprinter = "*"
typing-extensions = "*"

[requires]
python_version = "3.9"
