[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = false
name = "test.pypi.org"

[dev-packages]
crypto-dom = {editable = true, path = "."}
hypothesis = "*"
hypothesis-jsonschema = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-recording = "*"
python-dotenv = "*"

[packages]
aiohttp = "*"
httpx = "*"
mypy = "*"
pydantic = "*"
returns = "*"
stackprinter = "*"
typing-extensions = "*"

[requires]
python_version = "3.9"
