interactions:
- request:
    body: nonce=1610997155378&asset=XETH
    headers:
      api-key:
      - prX1saD0PLpkFpSaWQs6Iy0sl5JpDvSXQerh5rZ3Z6r4qvlMMZ5JzZPz
      api-sign:
      - U2AqBFRrSpDguriOjfzvzRuEhQMfvoI3oi291WAdbDr1SJlsY5H0RUFGRlNyBMVPJ43iplAe6S6pV7f/frLxDw==
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/TradeBalance
  response:
    content: '{"error":[],"result":{"eb":"0.0000000923","tb":"0.0000000855","m":"0.0000000000","n":"0.0000000000","c":"0.0000000000","v":"0.0000000000","e":"0.0000000855","mf":"0.0000000855"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
