interactions:
- request:
    body: nonce=1610997156299
    headers:
      api-key:
      - prX1saD0PLpkFpSaWQs6Iy0sl5JpDvSXQerh5rZ3Z6r4qvlMMZ5JzZPz
      api-sign:
      - 3LwrM2ilbin25cu5xUWwF5C4kqXbScKid2Yt4CJhlAlCfs7ZeGTOngFRoTkZ/z1Ht1YsKZFBoTT0A2h6k+ptJQ==
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/ClosedOrders
  response:
    content: '{"error":[],"result":{"closed":{"OXOWUA-JR3KW-TB2LBU":{"refid":null,"userref":null,"status":"canceled","reason":"Out
      of funds","opentm":1610743433.5022,"closetm":1610743433.5184,"starttm":0,"expiretm":0,"descr":{"pair":"DOTEUR","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      266.66310000 DOTEUR @ market","close":""},"vol":"266.66310000","vol_exec":"266.18409438","cost":"2894.7894","fee":"5.2106","price":"10.8751","stopprice":"0.00000","limitprice":"0.00000","misc":"partial","oflags":"fciq"},"OTJWRA-24VF2-E5ZVCR":{"refid":null,"userref":null,"status":"canceled","reason":"Out
      of funds","opentm":1609959870.4131,"closetm":1609959870.4288,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      1139.40194000 DOTUSD @ market","close":""},"vol":"1139.40194000","vol_exec":"1138.81317359","cost":"11660.4788","fee":"20.9888","price":"10.2391","stopprice":"0.00000","limitprice":"0.00000","misc":"partial","oflags":"fciq"},"ONDD5C-ZN6NL-Q7JWVH":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609957988.9435,"closetm":1609957988.9458,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      1.00000000 DOTUSD @ market","close":""},"vol":"1.00000000","vol_exec":"1.00000000","cost":"10.1968","fee":"0.0183","price":"10.1968","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OB45ZK-FL63J-7ZITMF":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609957473.0977,"closetm":1609957473.1531,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      1000.00000000 DOTUSD @ market","close":""},"vol":"1000.00000000","vol_exec":"1000.00000000","cost":"10189.1947","fee":"18.3405","price":"10.1891","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OD4J3B-NQNZS-5GM6IN":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609957079.4637,"closetm":1609957079.4731,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      1000.00000000 DOTUSD @ market","close":""},"vol":"1000.00000000","vol_exec":"1000.00000000","cost":"10180.8012","fee":"18.3254","price":"10.1808","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"ONGU42-K5RGQ-FFGBMC":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609957026.8893,"closetm":1609957026.8995,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      1000.00000000 DOTUSD @ market","close":""},"vol":"1000.00000000","vol_exec":"1000.00000000","cost":"10188.6304","fee":"18.3395","price":"10.1886","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OYNT6Y-3WND4-ZVCZCQ":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609956969.2626,"closetm":1609956969.2845,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      1000.00000000 DOTUSD @ market","close":""},"vol":"1000.00000000","vol_exec":"1000.00000000","cost":"10202.4256","fee":"18.3643","price":"10.2024","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"O7FZS2-UU7DC-26VAIE":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609956935.2174,"closetm":1609956935.2292,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      1000.00000000 DOTUSD @ market","close":""},"vol":"1000.00000000","vol_exec":"1000.00000000","cost":"10203.3333","fee":"18.3660","price":"10.2033","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OJEREW-LWPYV-VS3LYR":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609956906.8356,"closetm":1609956906.8417,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      1000.00000000 DOTUSD @ market","close":""},"vol":"1000.00000000","vol_exec":"1000.00000000","cost":"10207.0613","fee":"18.3727","price":"10.2070","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OIPALT-HIJFU-R5PPPM":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609766427.9956,"closetm":1609766428.0022,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"sell","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"sell
      0.04555600 XBTUSD @ market","close":""},"vol":"0.04555600","vol_exec":"0.04555600","cost":"1396.5","fee":"2.5","price":"30655.8","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OQBAD2-5H2E3-5JO7AO":{"refid":null,"userref":null,"status":"closed","reason":"Insignificant
      volume remaining","opentm":1609747026.7488,"closetm":1609747026.7745,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"sell","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"sell
      3300.75000000 DOTUSD @ market","close":""},"vol":"3300.75000000","vol_exec":"3300.74999999","cost":"31439.7578","fee":"56.5915","price":"9.5250","stopprice":"0.00000","limitprice":"0.00000","misc":"partial","oflags":"fciq"},"OEHS2F-J4LZS-PBBY5W":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609747019.3368,"closetm":1609747019.3576,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"sell","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"sell
      1100.25000000 DOTUSD @ market","close":""},"vol":"1100.25000000","vol_exec":"1100.25000000","cost":"10459.2764","fee":"18.8266","price":"9.5062","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OPMGB6-X67VM-MDEA5C":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609715376.3134,"closetm":1609715376.3156,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      200.00000000 DOTUSD @ market","close":""},"vol":"200.00000000","vol_exec":"200.00000000","cost":"2069.8000","fee":"3.7256","price":"10.3490","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OB2UQY-NO565-FQFFCL":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609715069.7403,"closetm":1609715069.7425,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      1.00000000 DOTUSD @ market","close":""},"vol":"1.00000000","vol_exec":"1.00000000","cost":"10.4663","fee":"0.0188","price":"10.4663","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OKI5ER-TYGHO-DCHOYF":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609715029.6493,"closetm":1609715029.6521,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      100.00000000 DOTUSD @ market","close":""},"vol":"100.00000000","vol_exec":"100.00000000","cost":"1050.0000","fee":"1.8900","price":"10.5000","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OWH3FI-5SRHI-KL5PRV":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609714872.345,"closetm":1609714872.35,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      100.00000000 DOTUSD @ market","close":""},"vol":"100.00000000","vol_exec":"100.00000000","cost":"1038.8083","fee":"1.8698","price":"10.3880","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OAXS37-C57RZ-YAMFTW":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609714752.347,"closetm":1609714752.3507,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      100.00000000 DOTUSD @ market","close":""},"vol":"100.00000000","vol_exec":"100.00000000","cost":"1028.5167","fee":"1.8513","price":"10.2851","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"ONS6PW-CL4SY-J3MSKN":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609714629.8326,"closetm":1609714629.8368,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      100.00000000 DOTUSD @ market","close":""},"vol":"100.00000000","vol_exec":"100.00000000","cost":"1022.4840","fee":"1.8404","price":"10.2248","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OGMMQV-QAKGP-LBPENM":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609714368.0189,"closetm":1609714368.0231,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      100.00000000 DOTUSD @ market","close":""},"vol":"100.00000000","vol_exec":"100.00000000","cost":"1020.4476","fee":"1.8368","price":"10.2044","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OU634M-LH6GW-YA6UYM":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609714019.6095,"closetm":1609714019.6123,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      200.00000000 DOTUSD @ market","close":""},"vol":"200.00000000","vol_exec":"200.00000000","cost":"2017.3200","fee":"3.6311","price":"10.0866","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OFSGRG-JLXHP-ABJIXM":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609713948.3476,"closetm":1609713948.3483,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      200.00000000 DOTUSD @ market","close":""},"vol":"200.00000000","vol_exec":"200.00000000","cost":"2035.3600","fee":"3.6636","price":"10.1768","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OHXQXQ-TKXOS-REIQHJ":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609713929.2596,"closetm":1609713929.2702,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      200.00000000 DOTUSD @ market","close":""},"vol":"200.00000000","vol_exec":"200.00000000","cost":"2033.9912","fee":"3.6611","price":"10.1699","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"ORHBQ7-M62YF-2RXK22":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609713887.7424,"closetm":1609713887.7433,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      100.00000000 DOTUSD @ market","close":""},"vol":"100.00000000","vol_exec":"100.00000000","cost":"1010.0100","fee":"1.8180","price":"10.1001","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OT27JW-AB3DW-G2NBQP":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609713864.1528,"closetm":1609713864.16,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      100.00000000 DOTUSD @ market","close":""},"vol":"100.00000000","vol_exec":"100.00000000","cost":"1007.8876","fee":"1.8142","price":"10.0788","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OZBXIG-KIGOG-ZNV74E":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609713341.1656,"closetm":1609713341.1713,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      500.00000000 DOTUSD @ market","close":""},"vol":"500.00000000","vol_exec":"500.00000000","cost":"4999.9284","fee":"8.9998","price":"9.9998","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"O6UTDE-3TVEW-LI55RZ":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609713326.1495,"closetm":1609713326.1626,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      1000.00000000 DOTUSD @ market","close":""},"vol":"1000.00000000","vol_exec":"1000.00000000","cost":"10000.0000","fee":"17.9999","price":"10.0000","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OSDZKF-RW4GL-SHHBGC":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609713312.2722,"closetm":1609713312.2784,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      200.00000000 DOTUSD @ market","close":""},"vol":"200.00000000","vol_exec":"200.00000000","cost":"1999.9920","fee":"3.5999","price":"9.9999","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"O6J3ND-UGPUL-W7LSFQ":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609713199.5293,"closetm":1609713199.531,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      200.00000000 DOTUSD @ market","close":""},"vol":"200.00000000","vol_exec":"200.00000000","cost":"1994.3000","fee":"3.5897","price":"9.9715","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"O7ATNQ-EAFNO-5D5AG6":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609713158.2135,"closetm":1609713158.2152,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      200.00000000 DOTUSD @ market","close":""},"vol":"200.00000000","vol_exec":"200.00000000","cost":"1997.9800","fee":"3.5963","price":"9.9899","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"ODKRQP-P6UYF-INMUKV":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609713107.8399,"closetm":1609713107.8467,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      200.00000000 DOTUSD @ market","close":""},"vol":"200.00000000","vol_exec":"200.00000000","cost":"1997.5152","fee":"3.5955","price":"9.9875","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OMIVNW-MWVW4-OTO45D":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609713010.0006,"closetm":1609713010.1202,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      200.00000000 DOTUSD @ market","close":""},"vol":"200.00000000","vol_exec":"200.00000000","cost":"1987.1800","fee":"3.5769","price":"9.9359","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"O55PSX-5VJBU-T2BKOB":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609712891.4985,"closetm":1609712891.5001,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      200.00000000 DOTUSD @ market","close":""},"vol":"200.00000000","vol_exec":"200.00000000","cost":"1984.9000","fee":"3.5728","price":"9.9245","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OAVZJX-FTYEV-7XJ6BS":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609712744.768,"closetm":1609712744.7702,"starttm":0,"expiretm":0,"descr":{"pair":"DOTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      200.00000000 DOTUSD @ market","close":""},"vol":"200.00000000","vol_exec":"200.00000000","cost":"1981.1600","fee":"3.5660","price":"9.9058","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OOMSGO-VMSPM-M476CU":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609661370.9743,"closetm":1609661370.9807,"starttm":0,"expiretm":0,"descr":{"pair":"ZECXBT","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"2:1","order":"buy
      10.00000000 ZECXBT @ market with 2:1 leverage","close":""},"vol":"10.00000000","vol_exec":"10.00000000","cost":"0.01660","fee":"0.00003","price":"0.00166","stopprice":"0.000000","limitprice":"0.000000","misc":"","oflags":"fciq"},"OUNCTR-LYE2H-64JWWY":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609661358.9994,"closetm":1609661359.0079,"starttm":0,"expiretm":0,"descr":{"pair":"ZECXBT","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"2:1","order":"buy
      100.00000000 ZECXBT @ market with 2:1 leverage","close":""},"vol":"100.00000000","vol_exec":"100.00000000","cost":"0.16556","fee":"0.00029","price":"0.00165","stopprice":"0.000000","limitprice":"0.000000","misc":"","oflags":"fciq"},"ONJFZQ-5JKWF-7TA2UM":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609661351.6507,"closetm":1609661351.6517,"starttm":0,"expiretm":0,"descr":{"pair":"ZECXBT","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"2:1","order":"buy
      50.00000000 ZECXBT @ market with 2:1 leverage","close":""},"vol":"50.00000000","vol_exec":"50.00000000","cost":"0.08300","fee":"0.00014","price":"0.00166","stopprice":"0.000000","limitprice":"0.000000","misc":"","oflags":"fciq"},"OAHKKW-TWY2P-76OEWR":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609661283.8539,"closetm":1609661283.8574,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"sell","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"sell
      0.01000901 XBTUSD @ market","close":""},"vol":"0.01000901","vol_exec":"0.01000901","cost":"342.6","fee":"0.6","price":"34230.2","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"O2BY33-WTFZI-LLYQL2":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609661264.1515,"closetm":1609661264.1523,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"sell","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"sell
      0.03002701 XBTUSD @ market","close":""},"vol":"0.03002701","vol_exec":"0.03002701","cost":"1026.6","fee":"1.8","price":"34190.7","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OY53SP-XUUWU-CKUKOO":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609661254.6745,"closetm":1609661254.6811,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"sell","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"sell
      0.50000000 XBTUSD @ market","close":""},"vol":"0.50000000","vol_exec":"0.50000000","cost":"17120.2","fee":"30.8","price":"34240.4","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OKYNXK-X7EY2-ZTMN5T":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609661248.7757,"closetm":1609661248.8164,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"sell","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"sell
      1.62012305 XBTUSD @ market","close":""},"vol":"1.62012305","vol_exec":"1.62012305","cost":"55494.2","fee":"99.8","price":"34253.1","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OUEB3E-4DTYW-2SVG6T":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609660508.0692,"closetm":1609660508.0705,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      0.02392916 XBTUSD @ market","close":""},"vol":"0.02392916","vol_exec":"0.02392916","cost":"822.6","fee":"1.4","price":"34376.9","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"ORNJ5J-TQOWN-UJBLHX":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609660496.6033,"closetm":1609660496.6044,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      0.09625799 XBTUSD @ market","close":""},"vol":"0.09625799","vol_exec":"0.09625799","cost":"3308.3","fee":"5.9","price":"34369.2","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OLT5BS-XFPVK-DTVD5F":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609659074.0466,"closetm":1609659074.054,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      0.04257926 XBTUSD @ market","close":""},"vol":"0.04257926","vol_exec":"0.04257926","cost":"1471.2","fee":"2.6","price":"34552.5","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"ORBUXL-HHGMA-CR5JVM":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609658969.56,"closetm":1609658969.561,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      0.05686231 XBTUSD @ market","close":""},"vol":"0.05686231","vol_exec":"0.05686231","cost":"1962.8","fee":"3.5","price":"34519.0","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OM6ILS-EGSOS-U2AXDB":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609658956.5531,"closetm":1609658956.5544,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      0.07590802 XBTUSD @ market","close":""},"vol":"0.07590802","vol_exec":"0.07590802","cost":"2618.6","fee":"4.7","price":"34497.9","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OQ2ZDQ-NQBFM-MI57UT":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609658945.1783,"closetm":1609658945.1828,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      0.10128213 XBTUSD @ market","close":""},"vol":"0.10128213","vol_exec":"0.10128213","cost":"3493.1","fee":"6.2","price":"34489.5","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"ORCI2T-6JHZG-ATBYMY":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609658885.4535,"closetm":1609658885.4558,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      0.13524928 XBTUSD @ market","close":""},"vol":"0.13524928","vol_exec":"0.13524928","cost":"4660.8","fee":"8.3","price":"34461.2","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OO37RR-JWP55-LDYCOO":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609658625.1031,"closetm":1609658625.1239,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"buy","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"buy
      1.62810388 XBTUSD @ market","close":""},"vol":"1.62810388","vol_exec":"1.62810388","cost":"56233.5","fee":"101.2","price":"34539.2","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OE2GU3-JR4JW-CL7YS5":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609620536.2032,"closetm":1609620536.2244,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"sell","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"sell
      0.05900000 XBTUSD @ market","close":""},"vol":"0.05900000","vol_exec":"0.05900000","cost":"1868.2","fee":"3.3","price":"31664.4","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"},"OOVKBO-DD352-7T62P6":{"refid":null,"userref":null,"status":"closed","reason":null,"opentm":1609620510.6425,"closetm":1609620510.6435,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"sell","ordertype":"market","price":"0","price2":"0","leverage":"none","order":"sell
      0.20000000 XBTUSD @ market","close":""},"vol":"0.20000000","vol_exec":"0.20000000","cost":"6336.1","fee":"11.4","price":"31680.8","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"}},"count":821}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
