interactions:
- request:
    body: nonce=1610997158669
    headers:
      api-key:
      - prX1saD0PLpkFpSaWQs6Iy0sl5JpDvSXQerh5rZ3Z6r4qvlMMZ5JzZPz
      api-sign:
      - YMKHmAQDL7CWrBWQxD/J0Hn/eEqN4jZG5yCE0LnffIJSF9DMMpRoilP3xqA5sqk9V//uxN2N07nGyEMuCGw2DA==
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/TradesHistory
  response:
    content: '{"error":[],"result":{"trades":{"TVWSEC-GLPO3-RNJQ3A":{"ordertxid":"OXOWUA-JR3KW-TB2LBU","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTEUR","time":1610743433.5035,"type":"buy","ordertype":"market","price":"10.87514","cost":"2894.78944","fee":"5.21063","vol":"266.18409438","margin":"0.00000","misc":""},"TBNCMJ-EVGF5-DXUXYM":{"ordertxid":"OTJWRA-24VF2-E5ZVCR","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609959870.4145,"type":"buy","ordertype":"market","price":"10.23915","cost":"11660.47881","fee":"20.98886","vol":"1138.81317359","margin":"0.00000","misc":""},"TKQF4S-KYYD3-SROXLX":{"ordertxid":"ONDD5C-ZN6NL-Q7JWVH","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609957988.945,"type":"buy","ordertype":"market","price":"10.19680","cost":"10.19680","fee":"0.01835","vol":"1.00000000","margin":"0.00000","misc":""},"TE4HPW-EJNNO-4V5OIC":{"ordertxid":"OB45ZK-FL63J-7ZITMF","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609957473.1459,"type":"buy","ordertype":"market","price":"10.18919","cost":"10189.19478","fee":"18.34055","vol":"1000.00000000","margin":"0.00000","misc":""},"TAURIB-LJ2IP-AFMHY5":{"ordertxid":"OD4J3B-NQNZS-5GM6IN","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609957079.4648,"type":"buy","ordertype":"market","price":"10.18080","cost":"10180.80128","fee":"18.32545","vol":"1000.00000000","margin":"0.00000","misc":""},"TDBQF6-EKAV5-OMBOLL":{"ordertxid":"ONGU42-K5RGQ-FFGBMC","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609957026.891,"type":"buy","ordertype":"market","price":"10.18863","cost":"10188.63048","fee":"18.33954","vol":"1000.00000000","margin":"0.00000","misc":""},"TTMIO2-XWIPU-MWSJLN":{"ordertxid":"OYNT6Y-3WND4-ZVCZCQ","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609956969.2639,"type":"buy","ordertype":"market","price":"10.20243","cost":"10202.42566","fee":"18.36438","vol":"1000.00000000","margin":"0.00000","misc":""},"TX6NZT-UQJ3A-42MEKV":{"ordertxid":"O7FZS2-UU7DC-26VAIE","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609956935.2185,"type":"buy","ordertype":"market","price":"10.20333","cost":"10203.33331","fee":"18.36600","vol":"1000.00000000","margin":"0.00000","misc":""},"T27PN7-W2IBE-RWMCR5":{"ordertxid":"OJEREW-LWPYV-VS3LYR","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609956906.8369,"type":"buy","ordertype":"market","price":"10.20706","cost":"10207.06132","fee":"18.37271","vol":"1000.00000000","margin":"0.00000","misc":""},"TNOL55-GPOMN-KNI4JS":{"ordertxid":"OIPALT-HIJFU-R5PPPM","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1609766427.9962,"type":"sell","ordertype":"market","price":"30655.89999","cost":"1396.56018","fee":"2.51381","vol":"0.04555600","margin":"0.00000","misc":""},"THMSUT-HEZP2-VHKBFL":{"ordertxid":"OQBAD2-5H2E3-5JO7AO","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609747026.749,"type":"sell","ordertype":"market","price":"9.52503","cost":"31439.75787","fee":"56.59155","vol":"3300.74999999","margin":"0.00000","misc":""},"TMIZCR-3CAMZ-WBCBGK":{"ordertxid":"OEHS2F-J4LZS-PBBY5W","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609747019.3375,"type":"sell","ordertype":"market","price":"9.50627","cost":"10459.27645","fee":"18.82669","vol":"1100.25000000","margin":"0.00000","misc":""},"TQIJ4Z-O4IZN-K2DNJD":{"ordertxid":"OPMGB6-X67VM-MDEA5C","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609715376.3151,"type":"buy","ordertype":"market","price":"10.34900","cost":"2069.80000","fee":"3.72564","vol":"200.00000000","margin":"0.00000","misc":""},"TWSEIQ-4VS3Z-DMQB7C":{"ordertxid":"OB2UQY-NO565-FQFFCL","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609715069.7419,"type":"buy","ordertype":"market","price":"10.46630","cost":"10.46630","fee":"0.01884","vol":"1.00000000","margin":"0.00000","misc":""},"T44J27-IOLQL-OFT6MF":{"ordertxid":"OKI5ER-TYGHO-DCHOYF","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609715029.6511,"type":"buy","ordertype":"market","price":"10.50000","cost":"1050.00000","fee":"1.89000","vol":"100.00000000","margin":"0.00000","misc":""},"TKPJYC-WE623-GCGY32":{"ordertxid":"OWH3FI-5SRHI-KL5PRV","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609714872.3461,"type":"buy","ordertype":"market","price":"10.38808","cost":"1038.80835","fee":"1.86985","vol":"100.00000000","margin":"0.00000","misc":""},"TDRP3V-X3ZSQ-LWEIL5":{"ordertxid":"OAXS37-C57RZ-YAMFTW","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609714752.3484,"type":"buy","ordertype":"market","price":"10.28517","cost":"1028.51676","fee":"1.85133","vol":"100.00000000","margin":"0.00000","misc":""},"T35KKV-2BKIP-TKLVMU":{"ordertxid":"ONS6PW-CL4SY-J3MSKN","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609714629.8339,"type":"buy","ordertype":"market","price":"10.22484","cost":"1022.48402","fee":"1.84047","vol":"100.00000000","margin":"0.00000","misc":""},"TUSXU2-BSACS-D27FEQ":{"ordertxid":"OGMMQV-QAKGP-LBPENM","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609714368.0203,"type":"buy","ordertype":"market","price":"10.20448","cost":"1020.44768","fee":"1.83681","vol":"100.00000000","margin":"0.00000","misc":""},"TDAMKQ-YQCOX-5VHJVO":{"ordertxid":"OU634M-LH6GW-YA6UYM","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609714019.6107,"type":"buy","ordertype":"market","price":"10.08660","cost":"2017.32000","fee":"3.63118","vol":"200.00000000","margin":"0.00000","misc":""},"TTQPAB-INJDE-7K4PHY":{"ordertxid":"OFSGRG-JLXHP-ABJIXM","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609713948.3479,"type":"buy","ordertype":"market","price":"10.17680","cost":"2035.36000","fee":"3.66365","vol":"200.00000000","margin":"0.00000","misc":""},"TRW33Z-BQE3T-BKMGJD":{"ordertxid":"OHXQXQ-TKXOS-REIQHJ","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609713929.2644,"type":"buy","ordertype":"market","price":"10.16996","cost":"2033.99124","fee":"3.66118","vol":"200.00000000","margin":"0.00000","misc":""},"TLGSPJ-HG76V-PVHGHA":{"ordertxid":"ORHBQ7-M62YF-2RXK22","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609713887.7426,"type":"buy","ordertype":"market","price":"10.10010","cost":"1010.01000","fee":"1.81802","vol":"100.00000000","margin":"0.00000","misc":""},"T3PGZ3-IAUHI-VUXAI6":{"ordertxid":"OT27JW-AB3DW-G2NBQP","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609713864.1555,"type":"buy","ordertype":"market","price":"10.07888","cost":"1007.88760","fee":"1.81420","vol":"100.00000000","margin":"0.00000","misc":""},"TSKKAI-LL5GG-LE4C3H":{"ordertxid":"OZBXIG-KIGOG-ZNV74E","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609713341.1659,"type":"buy","ordertype":"market","price":"9.99986","cost":"4999.92840","fee":"8.99987","vol":"500.00000000","margin":"0.00000","misc":""},"T576Q4-52UER-7XEQAG":{"ordertxid":"O6UTDE-3TVEW-LI55RZ","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609713326.1499,"type":"buy","ordertype":"market","price":"10.00000","cost":"10000.00001","fee":"17.99999","vol":"1000.00000000","margin":"0.00000","misc":""},"TJ2DVY-XSDVZ-HHZTF3":{"ordertxid":"OSDZKF-RW4GL-SHHBGC","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609713312.2735,"type":"buy","ordertype":"market","price":"9.99996","cost":"1999.99206","fee":"3.59998","vol":"200.00000000","margin":"0.00000","misc":""},"TLH4WA-E4CT7-MUP62V":{"ordertxid":"O6J3ND-UGPUL-W7LSFQ","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609713199.5304,"type":"buy","ordertype":"market","price":"9.97150","cost":"1994.30000","fee":"3.58974","vol":"200.00000000","margin":"0.00000","misc":""},"T6HKFN-YEPGR-B76DCJ":{"ordertxid":"O7ATNQ-EAFNO-5D5AG6","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609713158.2147,"type":"buy","ordertype":"market","price":"9.98990","cost":"1997.98000","fee":"3.59636","vol":"200.00000000","margin":"0.00000","misc":""},"T3CLFM-QFVKM-ATS4UA":{"ordertxid":"ODKRQP-P6UYF-INMUKV","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609713107.843,"type":"buy","ordertype":"market","price":"9.98758","cost":"1997.51522","fee":"3.59552","vol":"200.00000000","margin":"0.00000","misc":""},"TAAYCH-SMR53-C6DSB7":{"ordertxid":"OMIVNW-MWVW4-OTO45D","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609713010.1199,"type":"buy","ordertype":"market","price":"9.93590","cost":"1987.18000","fee":"3.57692","vol":"200.00000000","margin":"0.00000","misc":""},"TEXVGZ-YGBJP-KHDWUT":{"ordertxid":"O55PSX-5VJBU-T2BKOB","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609712891.4997,"type":"buy","ordertype":"market","price":"9.92450","cost":"1984.90000","fee":"3.57282","vol":"200.00000000","margin":"0.00000","misc":""},"TZABAI-KIMQZ-6R7CDW":{"ordertxid":"OAVZJX-FTYEV-7XJ6BS","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"DOTUSD","time":1609712744.7692,"type":"buy","ordertype":"market","price":"9.90580","cost":"1981.16000","fee":"3.56609","vol":"200.00000000","margin":"0.00000","misc":""},"TOYNS5-GLV6R-2P723Q":{"ordertxid":"OOMSGO-VMSPM-M476CU","postxid":"TY5NM6-YFHM2-DRZXTC","pair":"XZECXXBT","time":1609661370.9804,"type":"buy","ordertype":"market","price":"0.001660","cost":"0.001169","fee":"0.000002","vol":"0.70419624","margin":"0.000585","misc":"closing"},"TCCGXU-MBLTJ-EP2WNY":{"ordertxid":"OOMSGO-VMSPM-M476CU","postxid":"TCXZHY-KYGYB-AROE64","pair":"XZECXXBT","time":1609661370.9779,"type":"buy","ordertype":"market","price":"0.001660","cost":"0.000378","fee":"0.000001","vol":"0.22788027","margin":"0.000189","misc":"closing"},"THQTT4-7AR7X-T25AJ6":{"ordertxid":"OOMSGO-VMSPM-M476CU","postxid":"TW3B3X-WKULZ-IHCCL4","pair":"XZECXXBT","time":1609661370.9745,"type":"buy","ordertype":"market","price":"0.001660","cost":"0.015053","fee":"0.000027","vol":"9.06792349","margin":"0.007527","misc":"closing"},"TLK3MJ-DWXXK-TUS35U":{"ordertxid":"OUNCTR-LYE2H-64JWWY","postxid":"TNO2QG-KKOPJ-KGTRTZ","pair":"XZECXXBT","time":1609661358.9996,"type":"buy","ordertype":"market","price":"0.001656","cost":"0.165567","fee":"0.000298","vol":"100.00000000","margin":"0.082784","misc":"closing"},"T3WYTS-BP6W5-3QIFZV":{"ordertxid":"ONJFZQ-5JKWF-7TA2UM","postxid":"TTAHZI-5QRMD-LARAVB","pair":"XZECXXBT","time":1609661351.6512,"type":"buy","ordertype":"market","price":"0.001660","cost":"0.083000","fee":"0.000149","vol":"50.00000000","margin":"0.041500","misc":"closing"},"TPOR7A-UXP4S-L5UVEO":{"ordertxid":"OAHKKW-TWY2P-76OEWR","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1609661283.8541,"type":"sell","ordertype":"market","price":"34230.20059","cost":"342.61042","fee":"0.61670","vol":"0.01000901","margin":"0.00000","misc":""},"TKGNQO-ZGCVR-Q36SUP":{"ordertxid":"O2BY33-WTFZI-LLYQL2","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1609661264.1519,"type":"sell","ordertype":"market","price":"34190.80000","cost":"1026.64749","fee":"1.84797","vol":"0.03002701","margin":"0.00000","misc":""},"TVADNI-2IL65-UHWRTB":{"ordertxid":"OY53SP-XUUWU-CKUKOO","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1609661254.6749,"type":"sell","ordertype":"market","price":"34240.48078","cost":"17120.24039","fee":"30.81643","vol":"0.50000000","margin":"0.00000","misc":""},"TIWIT5-APK66-N4QD2A":{"ordertxid":"OKYNXK-X7EY2-ZTMN5T","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1609661248.8127,"type":"sell","ordertype":"market","price":"34253.13064","cost":"55494.28648","fee":"99.88972","vol":"1.62012305","margin":"0.00000","misc":""},"TTFW7D-MGVZ6-4TXQOG":{"ordertxid":"OUEB3E-4DTYW-2SVG6T","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1609660508.0695,"type":"buy","ordertype":"market","price":"34377.00000","cost":"822.61273","fee":"1.48070","vol":"0.02392916","margin":"0.00000","misc":""},"T6AAUT-AQ5TL-CPEG7Z":{"ordertxid":"ORNJ5J-TQOWN-UJBLHX","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1609660496.6039,"type":"buy","ordertype":"market","price":"34369.20000","cost":"3308.31011","fee":"5.95496","vol":"0.09625799","margin":"0.00000","misc":""},"TIKJNM-SYT46-GRJFCC":{"ordertxid":"OLT5BS-XFPVK-DTVD5F","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1609659074.0469,"type":"buy","ordertype":"market","price":"34552.57677","cost":"1471.22315","fee":"2.64821","vol":"0.04257926","margin":"0.00000","misc":""},"TT4IWE-URC67-3ODEZT":{"ordertxid":"ORBUXL-HHGMA-CR5JVM","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1609658969.5603,"type":"buy","ordertype":"market","price":"34519.00000","cost":"1962.83008","fee":"3.53309","vol":"0.05686231","margin":"0.00000","misc":""},"T5L6YG-W5MFB-SOYCSF":{"ordertxid":"OM6ILS-EGSOS-U2AXDB","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1609658956.5534,"type":"buy","ordertype":"market","price":"34498.00000","cost":"2618.67487","fee":"4.71361","vol":"0.07590802","margin":"0.00000","misc":""},"TYKQXG-64HJA-XDSB4U":{"ordertxid":"OQ2ZDQ-NQBFM-MI57UT","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1609658945.1798,"type":"buy","ordertype":"market","price":"34489.59999","cost":"3493.18015","fee":"6.28772","vol":"0.10128213","margin":"0.00000","misc":""},"TL43LZ-SH2KE-RWLAU7":{"ordertxid":"ORCI2T-6JHZG-ATBYMY","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1609658885.4537,"type":"buy","ordertype":"market","price":"34461.20002","cost":"4660.85249","fee":"8.38953","vol":"0.13524928","margin":"0.00000","misc":""},"T6AONJ-MTBQM-MKLSQ3":{"ordertxid":"OO37RR-JWP55-LDYCOO","postxid":"TKH2SE-M7IF5-CFI7LT","pair":"XXBTZUSD","time":1609658625.1035,"type":"buy","ordertype":"market","price":"34539.28709","cost":"56233.54733","fee":"101.22039","vol":"1.62810388","margin":"0.00000","misc":""}},"count":1238}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
