interactions:
- request:
    body: nonce=1610997154574
    headers:
      api-key:
      - prX1saD0PLpkFpSaWQs6Iy0sl5JpDvSXQerh5rZ3Z6r4qvlMMZ5JzZPz
      api-sign:
      - pJwioM9wqqGtZSud6xgWrhlT2n/E7vszymL67+D/cET/XfJnWek56ume71b4ArMS4XeGJxr5isa1aOqjFPGHVw==
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/Balance
  response:
    content: '{"error":[],"result":{"ZUSD":"0.0000","ZEUR":"0.0000","KFEE":"0.00","XXBT":"0.0000000004","XXRP":"0.00000000","XLTC":"0.0000000000","XETH":"0.0000000151","XETC":"0.0000000000","XZEC":"0.0000000000","USDT":"0.00008000","BCH":"0.0000000000","XTZ":"0.00000002","BSV":"0.0000000000","LINK":"0.0000000100","TRX":"0.00000000","DOT":"0.0000000000","DOT.S":"9694.1344845600"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
