interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/Depth?pair=XXBTZUSD
  response:
    content: '{"error":[],"result":{"XXBTZUSD":{"asks":[["35846.50000","0.010",1610997132],["35849.50000","0.010",1610997127],["35849.60000","0.002",1610997120],["35857.50000","0.002",1610997107],["35869.40000","0.031",1610997144],["35869.50000","0.147",1610997144],["35869.70000","3.759",1610997144],["35873.00000","0.015",1610997144],["35873.10000","0.030",1610997141],["35874.50000","0.010",1610996784],["35875.10000","1.316",1610997144],["35880.10000","0.080",1610997144],["35882.00000","1.974",1610997144],["35882.10000","1.116",1610997144],["35882.5[...]
