interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/AssetPairs?pair=XXBTZUSD&pair=XETHZUSD&pair=XZECZUSD
  response:
    content: '{"error":[],"result":{"XZECZUSD":{"altname":"ZECUSD","wsname":"ZEC\/USD","aclass_base":"currency","base":"XZEC","aclass_quote":"currency","quote":"ZUSD","lot":"unit","pair_decimals":2,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[2],"leverage_sell":[2],"fees":[[0,0.26],[50000,0.24],[100000,0.22],[250000,0.2],[500000,0.18],[1000000,0.16],[2500000,0.14],[5000000,0.12],[10000000,0.1]],"fees_maker":[[0,0.16],[50000,0.14],[100000,0.12],[250000,0.1],[500000,0.08],[1000000,0.06],[2500000,0.04],[5000000,0.02],[10000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40,"ordermin":"0.03"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
